"*":
  "autocomplete-plus":
    autoActivationDelay: 500
    confirmCompletion: "enter"
  core:
    disabledPackages: [
      "language-gfm"
      "nav-panel"
      "markdown-preview-opener"
      "markdown-scroll-sync"
      "linter-php"
    ]
    projectHome: "/Users/eric/workspace"
    telemetryConsent: "limited"
  editor:
    fontSize: 19
    showInvisibles: true
    softWrapHangingIndent: 4
    tabLength: 4
  "exception-reporting":
    userId: "cece949e-7083-e52a-1d60-1b47eb65bd9a"
  fonts:
    fontFamily: "DejaVu Mono"
  "highlight-line": {}
  "linter-phpcs": {}
  "linter-sass-lint":
    noConfigDisable: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-opener":
    closePreviewWhenClosingEditor: true
  "php-getters-setters":
    getterTemplate: '''
      /**
       * Get %description%
       *
       * @return  %type%        %description%
       */
      %scope% function %methodName%()
      {
          return $this->%variable%;
      }
      
      
    '''
    setterTemplate: '''
      /**
       * Set %description%
       *
       * @param   %type%    $%variable%     %description%
       * @return  self
       */
      %scope% function %methodName%(%typeHint%$%variable%)
      {
          $this->%variable% = $%variable%;
          return $this;
      }
      
      
    '''
  "php-integrator-linter": {}
  "symbols-list":
    alphabecticalSorting: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 8
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".babel.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".css.source.styled":
  editor:
    preferredLineLength: 120
    tabLength: 4
".csv.semicolon.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".csv.tabular.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".csv.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".diff.source":
  editor:
    preferredLineLength: 120
".js.jsx.react.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.jsx.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.source.subtlegradient":
  editor:
    preferredLineLength: 120
    tabLength: 4
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 120
    tabLength: 4
".plantuml.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".source.yaml":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
".tabular.text.tsv":
  editor:
    preferredLineLength: 120
    tabLength: 4
