"*":
  Clean2: {}
  Zen:
    fullscreen: false
    tabs: "multiple"
  "atom-beautify":
    _analyticsUserId: "3e27096e-2708-460f-96c8-139f3245429c"
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 60000
    cmdArgs: "--exclude=.git --exclude=app --exclude=vendor --exclude=vendor_front --exclude=web --exclude=tests"
  "autoclose-html":
    closeOnEndOfOpeningTag: true
    forceInline: [
      "title"
      "h1"
      "h2"
      "h3"
      "h4"
      "h5"
      "h6"
      "p"
    ]
    makeNeverCloseElementsSelfClosing: true
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    autoActivationDelay: 500
    backspaceTriggersAutocomplete: true
    defaultProvider: "Fuzzy"
    includeCompletionsFromAllBuffers: true
  "autohide-tree-view":
    animationSpeed: 0
    pushEditor: true
  composer:
    composerPath: "/usr/local/bin/composer"
  core:
    disabledPackages: [
      "enhanced-package-list"
      "welcome"
      "styleguide"
      "package-generator"
      "metrics"
      "language-toml"
      "language-clojure"
      "language-csharp"
      "autohide-tree-view"
      "autocomplete-ctags"
      "language-gfm"
      "linter-php"
      "php-analyser"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: true
    packagesWithKeymapsDisabled: [
      "symbols-tree-view"
      "git-blame"
      "es-identifier-highlight"
      "zentabs"
      "php-integrator-symbol-viewer"
      "aligner"
      "linter"
    ]
    projectHome: "/Users/eric/workspace"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  docblockr:
    auto_add_method_tag: true
    extend_double_slash: false
    simple_mode: true
    spacer_between_sections: true
  editor:
    backUpBeforeSaving: true
    fontFamily: "DejaVu Sans Mono"
    fontSize: 20
    invisibles: {}
    preferredLineLength: 120
    showInvisibles: true
    tabLength: 4
  "enhanced-package-list":
    sourceFilter: "user"
  "exception-reporting":
    userId: "5c1b3e91-177a-1a3d-e8d5-6f5458113034"
  "file-icons": {}
  fonts:
    fontFamily: "DejaVu Mono"
  "fuzzy-finder":
    ignoredNames: [
      ".git"
      "**/node_modules/*"
      "**/vendor/*"
    ]
  "git-blame":
    columnWidth: 300
  "git-log": {}
  "git-plus": {}
  "github-issues":
    username: "udg-eric"
  goto: {}
  "highlight-column":
    enableHighlight: true
    opacity: 1
  "highlight-line":
    enableBackgroundColor: false
    enableSelectionBorder: true
    enableUnderline: true
    hideHighlightOnSelect: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    highlightBackground: true
    lightTheme: true
  "isotope-ui":
    fontFamily: "Ubuntu"
    fontWeight: "Regular"
    matchEditorFont: true
    spaciousMode: true
  linter:
    errorPanelHeight: 200
    ignoredLinterErrors: [
      "php"
      "phpcs"
    ]
    showErrorInline: true
    statusBar: "Show all errors"
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "linter-phpcs":
    enableWarning: 1
    executablePath: "/Users/eric/workspace/vendor/bin/phpcs"
    standard: "PSR2"
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-opener":
    closePreviewWhenClosingEditor: true
  "markdown-table-formatter":
    formatOnSave: false
  "markdown-writer":
    relativeImagePath: true
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  metrics:
    userId: "b53641952e75709991d2d77f556a6ab0a912fea0"
  minimap:
    charWidth: 2
    displayMinimapOnLeft: true
    plugins:
      bookmarks: true
      "find-and-replace": true
      linter: true
    scrollAnimation: true
    scrollAnimationDuration: 200
    textOpacity: 0.3
  "one-dark-ui":
    layoutMode: "Compact"

  # Package PHP Getters/Setters
  "php-getters-setters":
    getterTemplate: '''
/**
 * Get %description%
 *
 * @return  %type%        %description%
 */
%scope% function %methodName%()
{
    return $this->%variable%;
}


    '''
    setterTemplate: '''
/**
 * Set %description%
 *
 * @param   %type%    $%variable%     %description%
 * @return  self
 */
%scope% function %methodName%(%typeHint%$%variable%)
{
    $this->%variable% = $%variable%;
    return $this;
}


    '''
  "php-integrator-autocomplete-plus":
    disableBuiltinAutocompletion: false
    insertNewlinesForUseStatements: true
  "php-integrator-base": {}
  "php-integrator-navigation":
    navigationRequireAltKey: false
    navigationRequireMetaKey: true
  "php-integrator-symbol-viewer":
    defaultShowInherited: true
  pigments: {}
  "plantuml-preview":
    jarLocation: "/usr/local/Cellar/plantuml/8037/plantuml.8037.jar"
  "project-manager":
    sortBy: "title"
  "release-notes":
    viewedVersion: "0.94.0"
  "symbols-tree-view":
    zAutoHideTypes: "variable class"
  tabs:
    showIcons: true
  "terminal-panel": {}
  "todo-show":
    findTheseTodos: [
      "TODO"
      "FIXME"
      "@fixme"
      "@todo"
      "@idea"
      "@note"
      "@hack"
    ]
    findUsingRegex: "/(${TODOS}):?\\d*($|\\s.*$)/g"
    ignoreThesePaths: [
      "app"
      "data"
      "docs"
      "scripts"
      "tests"
      "vendor"
      "vendor_front"
      "web"
      "node_modules"
      ".git"
      "*.map"
      "Resources/public/assets/build/js/*.js"
    ]
    saveOutputAs: "Table"
    sortBy: "Tags"
  "tool-bar":
    visible: false
  toolbar:
    position: "Left"
    visible: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 8
    neverCloseNew: true
    neverCloseUnsaved: true
".babel.regexp.source":
  editor:
    preferredLineLength: 120
".diff.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".source.yaml":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
