# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
#

#

'atom-text-editor':
    'cmd-up': 'editor:move-line-up'
    'cmd-down': 'editor:move-line-down'
    'cmd-d': 'editor:delete-line'
    'alt-cmd-down': 'editor:duplicate-lines'
    'alt-cmd-space': 'autocomplete-plus:activate'
    'alt-ctrl-space': 'autocomplete-plus:activate'
    "cmd-l": "symbols-tree-view:toggle"
    #"cmd-m": "php-integrator-symbol-viewer:toggle-panel"
    "cmd-m": "symbols-list:toggle"
    'alt-shift-left': 'editor:select-to-beginning-of-word'
    'alt-shift-right': 'editor:select-to-end-of-word'

    # Ouvrir le menu GIT
    'cmd-g': 'git-plus:menu'

    # Fold
    'ctrl-f': 'editor:fold-current-row'
    'ctrl-shift-f': 'editor:unfold-current-row'
# Traitement sur les lignes
#'body.platform-darwin atom-text-editor':
#    'cmd-d': 'editor:delete-line'
#    'alt-cmd-down': 'editor:duplicate-lines'
#    'cmd-alt-down': 'editor:duplicate-lines'
#'.platform-darwin atom-workspace atom-text-editor':
#    'alt-cmd-down': 'unset!'
#    'alt-cmd-down': 'editor:duplicate-lines'
#    'cmd-alt-down': 'editor:duplicate-lines'

# Basculer vers la liste des fichiers
'.platform-darwin':
    #'ctrl-left': 'tree-view:toggle-focus'
    #'ctrl-right': 'tree-view:toggle-focus'
    'ctrl-w': 'tree-view:toggle-focus'
    # Ouvrir le menu GIT
    'cmd-g': 'git-plus:menu'


# Confirmer une autocompletion avec Enter
".autocomplete-plus input.hidden-input":
    "enter": "autocomplete-plus:confirm"

'.platform-darwin atom-text-editor':
    # Projets
    'ctrl-cmd-p': 'project-plus:toggle-project-finder'
    # Toggle tree view
    'cmd-e': 'tree-view:toggle'

    # Ouvrir le menu GIT
    'cmd-g': 'git-plus:menu'

# Terminal
'.platform-darwin atom-workspace':
  'cmd-t': 'platformio-ide-terminal:toggle'

# Bug bizarre avec Docblockr
#'.editor:not(.mini)':
#  'enter': 'docblockr:parse-inline'
#  'shift-enter': 'docblockr:parse-enter'
