'Académie du goût':
  'title': 'Académie du goût'
  'paths': [
    '/Users/eric/workspace/udg',
    '/Users/eric/workspace/paginationBundle',
    '/Users/eric/workspace/CityAutocompleteFormTypeBundle'
  ]
'ambed.io':
  'title': 'ambed.io'
  'paths': [
    '/Users/eric/workspace/popio'
  ]
'EntityFilterableBundle':
  'title': 'EntityFilterableBundle'
  'paths': [
    '/Users/eric/workspace/EntityFilterableBundle'
  ]
