fitnextskeleton:
  title: "Fitnext Skeleton"
  paths: [
    "/Users/eric/workspace/fitnext-skeleton"
    "/Users/eric/workspace/symfony-ecommerce-bundle"
    "/Users/eric/workspace/symfony-backoffice-bundle"
  ]
